<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <style>
      input {
        text-align: center;
      }
      ::-webkit-input-placeholder {
        text-align: center;
      }
      :-moz-placeholder {
        text-align: center;
      }
    </style>
</head>
  <body>
    <form class="" action="/predict" method="post">
      <label for="tweet">Tweet:</label>
      <input type="text" name="tweet" id='tweet' style="height: 200px;width:900px;" type="text" class="form-control" placeholder="Enter text here">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>